.build/
_build/
Build
blib

carton.lock
.carton/
local/
cpanfile.snapshot

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

.mailmap

!LICENSE

MYMETA.*

Text-Lorem-JA-*

gen/local/
gen/cpanfile.snapshot
gen/download/
gen/text/

